<app-navbar></app-navbar>
<main>

  <section class="py-1 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="m-5">Personnage <i  class="bi bi-people" style="font-size: 10px;"></i></h1>
        <div>
          <h4 class="pb-3">Recher un personnage par le nom</h4>
          <form class="d-flex mt-3 mt-lg-0" role="search">
            <input (keyup)="search()" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="searchInput" class="form-control me-2"
             type="input" placeholder="Exemple: Luke Skywalker" aria-label="Search">
            <button class="btn btn-outline-secondary" (click)="search()">Rechercher</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      @if (showLoading) {
        <app-loading></app-loading>
       }
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if( people.length) {
          @for (p of people; track $index) {
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="list-group">
                    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Nom</h6>
                          <p class="mb-0 opacity-75">{{p.name}}</p>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Genre</h6>
                          <p class="mb-0 opacity-75">{{p.gender}}</p>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Couleur de peau</h6>
                          <p class="mb-0 opacity-75">{{p.skinColor}}</p>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Couleur des cheveux</h6>
                          <p class="mb-0 opacity-75">{{p.hairColor}}</p>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Couleur des yeux</h6>
                          <p class="mb-0 opacity-75">{{p.eyeColor}}</p>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Année d'anniversaire</h6>
                            <p class="mb-0 opacity-75">{{p.birthYear}}</p>
                          </div>
                        </div>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          }
        }@else {
             @if (!showLoading) {
              <div class="text-center d-flex align-items-center justify-content-center">
                <p>
                  Aucun personnage trouvé avec ce nom.
                </p>
              </div>
             }
        }
      </div>
    </div>
  </div>

</main>
