
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Star Wars</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Star Wars</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </a>
              <ul class="dropdown-menu">
                <li routerLink="/films" >
                    <a class="dropdown-item">Films</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li routerLink="/personnage"><a class="dropdown-item">Personnages</a></li>
                <li><hr class="dropdown-divider"></li>
                <li routerLink="/planetes"><a class="dropdown-item">Planètes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li routerLink="/especes"><a class="dropdown-item">Espèces</a></li>
                <li><hr class="dropdown-divider"></li>
                <li routerLink="/vaisseaux-spatiaux"><a class="dropdown-item">Vaisseaux spatiaux</a></li>
                <li><hr class="dropdown-divider"></li>
                <li routerLink="/vehicules"><a class="dropdown-item">Véhicules</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
